---
const {
  frontmatter: { title, code, description },
} = Astro.props;
import CodeEmbed from "@components/reference/CodeEmbed/";
---

<html>
  <h1>{title}</h1>
  <br />
  <p>{description}</p>
  <CodeEmbed code={code} />


</html>
